name: hio

on:
  push:
    branches:
      - 'master'
  pull_request:
  workflow_dispatch:
  
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.14+
        uses: actions/setup-python@v5
        with:
          python-version: '>=3.14.2'
          
      - name: Make libsodium discoverable
        if: runner.os == 'macOS'
        run: |
          echo "DYLD_FALLBACK_LIBRARY_PATH=$(brew --prefix)/lib:/usr/local/lib:/usr/lib" >> "$GITHUB_ENV"
          echo "DYLD_LIBRARY_PATH=$(brew --prefix)/lib" >> "$GITHUB_ENV"

      - name: Install dependencies (Unix)
        if: runner.os != 'Windows'
        run: |
          sudo mkdir -p /usr/local/var/hio/test
          sudo mkdir -p /usr/local/var/hio/logs
          sudo mkdir -p /usr/local/var/hio/wirelogs
          sudo chown -R $USER /usr/local/var/hio
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Install dependencies (Windows)
        if: runner.os == 'Windows'
        run: |
          mkdir -Force -Path "C:usr\local\var\hio\test"
          mkdir -Force -Path "C:usr\local\var\hio\logs"
          mkdir -Force -Path "C:usr\local\var\hio\wirelogs"
          python -m pip install --upgrade pip
          pip install pytest
          if (Test-Path -Path "requirements.txt") { pip install -r requirements.txt }
      - name: Run hio tests
        run: |
          pytest
